* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  background-color: #eee;
  margin: 0;
}
h1 {
  padding: 20px;
  margin: 0 0 20px;
  background-color: white;
  text-align: center;
}
.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    justify-content: center;
    gap: 5px;
}
.cell {
    background-color: white;
    border: 1px solid #e0d5d5;
    font-size: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.2s;
}
.cell:hover {
    background-color: #f6f6f6;
}
.player-x {
    color: red;
}
.player-o {
    color: blue;
}